<template>
  <div class="glhf">
    <span> Boa sorte e se voa! </span>
    <br>
    <el-button type="primary">
      Botão de teste
    </el-button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "App",
});
</script>

<style>
.glhf {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
